.todos__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: #777;
  border-top: 1px solid #e6e6e6;
}

.todos__bottom__list{
  display: flex;
  align-items: center;
}