.todo__label {
  display: block;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.2;
  padding: 15px 15px 15px 60px;
}

.todo__input {
  display: none;
}
