.todos {
  width: 590px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0 20px;
}

.todos__inner {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
