.todos {
  width: 590px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0 20px;
}

.todos__inner {
  margin-bottom: 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todos__text {
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
